body {
    font-family: helvetica, vedrana, sans-serif;
    margin: 0px;
}

a {
    color: #666;
}

a:visited {
    color: #aaa;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

#nav {
    width: 75%;
    margin: 20px auto;
    overflow: hidden;
    display: table;
}

#nav div {
    font-size: 20px;
    text-align: center;
    display: table-cell;
}

div#main {
    width: 720px;
    margin: 15px auto 15px;
    background-color: #f6f6f6;
    padding: 10px 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#main ul li {
    margin-bottom: 0.5em;
}

div .chart-holder {
    text-align: center;
}

ul.feature-list li {
    padding-bottom: 25px;
    margin-bottom: auto !important;
}

ul.feature-list li ul li {
    padding-bottom: 15px;
}

ul.feature-list li ul li ul li {
    padding-bottom: 0px;
}

h1 {
    text-align: center;
}

pre.code {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 40px;
    margin-top: 40px;
}

code {
    background-color: 'white';
    border: 1px solid lightgrey;
    padding: 2px;
}